<h1>ARTICOLI DISPONIBILI</h1>

<table>
    <thead>
        <tr>
            <th>CodArt</th>
            <th>Descrizione</th>
            <th>Um</th>
            <th>Pezzi</th>
            <th>Peso(Kg/L)</th>
            <th>Prezzo</th>
            <th>Attivo</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let articolo of articoli">
            <td>{{articolo.codart}}</td>
            <td>{{articolo.descrizione}}</td>
            <td>{{articolo.um}}</td>
            <td>{{articolo.pzcart}}</td>
            <td>{{articolo.peso}}</td>
            <td>{{articolo.prezzo}}</td>
            <td>{{articolo.isActive}}</td>
            <td>{{articolo.data | date}}</td>
        </tr>       
    </tbody>
</table>